.markdown h1 {
	font-size: 2.6rem;
	color: #2196F3;
}

.markdown h2 {
	border-bottom: 1.5px solid #DDD;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 20px;
}

.markdown h3 {
	color: #2196F3;
}

.markdown p {
	font-size: 1.2rem;
	line-height: 1.5;
}

.markdown ul {
	list-style: none;
	padding-left: 
}

.markdown ul li {
	padding: 4px;
}

.markdown ul li a {
	font-size: 1.2rem;
	text-decoration: none;
	color: #2196F3;
}

.markdown pre {
	background-color: #F5F5F6;
	padding: 25px;
}

.markdown pre code {
	font-weight: 300;
}

.hljs-keyword {
	color: #d73a49;
}

.hljs-string {
	color: #6f42c1;
}